<div class="container">
  <div class="row">
    <div class="col-md-12" style="text-align: center">
      <h3>Books list from firebase!</h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 custom-card" *ngFor="let item of booksData" >
      <div class="card">
        <img class="card-img-top" src="{{item.images}}" alt="Card image cap">
        <div class="card-body">
          <p class="card-text"> <b>Title: </b> {{item.title}} </p>
          <p class="card-text"> <b>Description: </b> {{item.description | slice:0:230 }}
            <span *ngIf="readMore" class="limit-text" (click)="readMoreFn()" >More</span>
            <span *ngIf="readLess" class="limit-text" (click)="readLessFn()" >Less</span>
          </p>
          <p class="card-text"> <b>Author: </b> {{item.author}}</p>
          <p class="card-text"> <b>Publisher: </b> {{item.publisher}}, {{item.published | date:'MM/dd/yyyy'}} </p>
          <p class="card-text"> <b>Category: </b> {{item.category}} </p>
          <p class="card-text"> <b>Pages: </b>{{item.pages}}</p>
          <p class="card-text"> <b>Website: </b> <a href="{{item.website}}" target="_blank">{{item.website}}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
