<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Please select a image to upload on Firebase! Or go to -><span>
        <a routerLink="/books">Books</a>
      </span></h3>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input style="display: none" type="file" name="imageUpload" id="imageUpload" #fileInput (change)="onFileSelected($event)">

      <button class="btn btn-success" (click)="fileInput.click()" > Select file </button> &nbsp;
      <span>{{ fileInputName }}</span>
      <span>{{ formatMessage }}</span>
      <hr>
      <button class="btn btn-primary" type="submit" (click)="upload()" [disabled]="disabledUploadBtn == true" > Upload </button>
    </div>
  </div>
  <hr>
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100">

    </div>
  </div>
  <br>
  <div *ngIf="uploadProgress | async">
    <div *ngIf="downloadURL| async; let downloadSrc" class="alert alert-info" role="alert">
      {{ successMessage }} <br>
       <a [href]="downloadSrc" target="blank">{{ downloadSrc }}</a>
    </div>
  </div>
</div>
